@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap'); /*Peguei essa fonte do google fontes*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@700&display=swap');

* {
    margin: 0; /*Esses dois são básicos para todo ínicio de site*/
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


.navbar { /*Fazendo o style da navbar*/
    background: crimson;
    width: 100%;
    padding: 30px 0; 
    font-family: 'Poppins', sans-serif; /*A fonte que pegou do Google e , sans-serif*/
}


.navbar .menu li a { /*Isso é para fazer o style das abas da navegação*/
    color: white;
    text-decoration: none;
}

.navbar .menu li { /*Isso é para tirar os - do lado das abas de navegação, está sem o "a" porque é edição apenas disso*/
    list-style: none; /*Tirar os pontos do lado*/
    display: inline-block; /*Deixar eles um do lado do outro*/
    font-size: 18px; 
    font-weight: 500; /*Não sei*/
    margin-left: 25px; /*Espaçamento entre as fontes*/
}

h1 { /*Mudar o titulo*/
    color: white;
}

.navbar .max-width { 
    display: flex;
    align-items: center; /*Alinhar*/
    justify-content: space-between;
}

.max-width { 
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/*Home*/

.home {
    display: flex;
    background: rgb(35, 35, 35); /*Imagem do banner (construido no canva), sempre coloque "no-repeat"*/
    height: 100vh;
    color: white;
    font-family: 'Poppins', sans-serif; /*A fonte que pegou do Google*/

}

.home .max-width-trab {
    margin: auto 0 auto 40px; /*Alinhar o texto*/
    width: 100%;

}

.home .home-content {
    margin-left: 5%;
    width: 100%;
    margin-bottom: 15%;
}

.home .home-content .text1 { /*Texto 1 sendo editado*/
    font-size: 25px;
}
.home .home-content .text2 { /*Texto 2 sendo editado*/
    font-size: 75px;
}
.home .home-content .text3 { /*Texto 3 sendo editado*/
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text3 span { /*Aquele SPAN que comentei*/
    color: crimson;
}

/*AGORA VAI COMEÇAR O STYLE DO ABOUT*/

.about { /*Espaçamento SEMPRE*/
    padding: 100px 0;
}

.about{
    font-family: 'Poppins', sans-serif;
}
.about .title { /*Dá uma olhada lá*/
    position: relative;
    font-family:'Bebas Neue', cursive;  
    text-align: center;
    margin-bottom: 40px;
    font-weight: 500;
    padding-bottom: 20px; /*Espaçamento entre a barra e a palavra*/
    font-size: 45px;
}


.about .title::before { /*Linhas em cima da palavra*/
    content: "";
    position: absolute;
    width: 180px;
    bottom: 20px;
    left: 50%;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

/*Alinhas as coisas*/
.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px; /*Fazer a borda*/
    
}
.about .about-content .right {
    width: 55%;
    margin-bottom: 300px;
}

.about .about-content .right .text{
    font-size: 20px;
    font-weight: 600;
}

.about .about-content .right p {
    text-align: justify;
}

/*Skills Start*/

.skills, .contact{
    font-family: 'Poppins', sans-serif;
}
.skills .title { /*Dá uma olhada lá*/
    position: relative;
    font-family:'Bebas Neue', cursive;  
    text-align: center;
    margin-bottom: 40px;
    font-weight: 500;
    padding-bottom: 20px; /*Espaçamento entre a barra e a palavra*/
    font-size: 45px;
}

.skills .title::before { /*Linhas em cima da palavra*/
    content: "";
    position: absolute;
    width: 180px;
    bottom: 20px;
    left: 50%;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

.skills .skills-content, .contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.skills .skills-content .right {
        width: 55%;
        margin-right: -55px;
}
.skills .skills-content .left {
    width: 45%;
}

.skills .skills-content .text1 {
    font-size: 35px;
}

.skills .skills-content .right {
    display: flex;
    flex-direction: column;
    width: 35%;
    font-size: 20px;
}

.skills .skills-content .right li a{
    text-decoration: none;
    color: black;
}


/*Contact Me*/
.contact .title { /*Dá uma olhada lá*/
    position: relative;
    font-family:'Bebas Neue', cursive;  
    text-align: center;
    margin-bottom: 40px;
    font-weight: 500;
    padding-bottom: 20px; /*Espaçamento entre a barra e a palavra*/
    font-size: 40px;
}

.contact .title::before { /*Linhas em cima da palavra*/
    content: "";
    position: absolute;
    width: 180px;
    bottom: 20px;
    left: 50%;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
/*Isso tudo para stylish o formulario*/

.contact .contact-content .field form {
    background: crimson;
    border-radius: 15px;
    border: 20px;
    background-position: 20px 20px;
    background-repeat: no-repeat;
    width: 100%;
    padding: 20px 20px;
    justify-content: center;
}

.contact .contact-content .field form label {
    font-size: 20px;

}

.contact .contact-content .field form input {
    padding-bottom: -5px;
}

.contact .contact-content .field form button {
    width: 200px;
    height: 25px;  
    padding: 1px 5px;
    font-family: 'Poppins', sans-serif;

}

/*Projects*/
.trabalhos .title { /*Dá uma olhada lá*/
    position: relative;
    font-family:'Bebas Neue', cursive;  
    text-align: center;
    margin-bottom: 40px;
    font-weight: 500;
    padding-bottom: 20px; /*Espaçamento entre a barra e a palavra*/
    font-size: 40px;
}
.trabalhos .title::before { /*Linhas em cima da palavra*/
    content: "";
    position: absolute;
    width: 180px;
    bottom: 20px;
    left: 50%;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
.trabalhos .content-trabalhos img {
    max-width: 600px;
    max-height: 550px;
    width: auto;
    height: auto;
}
.trabalhos .content-trabalhos .links{
    margin: 15px;
    border: 4px solid rgb(43, 43, 43);
}

/*Responsive Media*/

@media screen and (max-width: 700px) {

    .navbar {
        padding: 0px 7px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar .menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar .max-width {
        padding: 10px;
    }

    .navbar .menu li {
        font-size: 12px; 
    } 

    h1 { /*Mudar o titulo*/
        font-size: 12px;
    }


    .home .max-width-trab {
        max-width: 750px;
        padding: 0 20px;
        margin: 0;
    }

    .home .home-content {
        margin-top: 50%;
        width: 100%;
        
    }

    
    .home .home-content .text1 { /*Texto 1 sendo editado*/
        font-size: 25px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 2%;
    }
    .home .home-content .text2 { /*Texto 2 sendo editado*/
        font-size: 50px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 0%;
        width: 105%;
        overflow: visible;
    }
    .home .home-content .text3 { /*Texto 3 sendo editado*/
        font-size: 15px;
        margin: 5px 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 2%;
    }


    .about .about-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about .about-content .left .foto {
        width: 200px;
        height: 200px;
    }

    .about .about-content .left{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    .about .about-content .right {
        width: 100%;
        margin-bottom: 4%;
        margin-top: 10%;
    }
    
    .about .about-content .right p {
        text-align: justify;
    }



    .skills, .contact{
        font-family: 'Poppins', sans-serif;
    }

    .skills .skills-content {
        width: 100%;
    }

    .skills .title { /*Dá uma olhada lá*/
        position: relative;
        font-family:'Bebas Neue', cursive;  
        text-align: center;
        margin-bottom: 40px;
        font-weight: 500;
        padding-bottom: 20px; /*Espaçamento entre a barra e a palavra*/
        font-size: 42px;
    }
    
    .skills .title::before { /*Linhas em cima da palavra*/
        content: "";
        position: absolute;
        width: 180px;
        bottom: 20px;
        left: 50%;
        height: 3px;
        background: #111;
        transform: translateX(-50%);
    }
    
    .skills .skills-content, .contact {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    
    
    .skills .skills-content .right {
            width: 100%;
            margin-right: -55px;
    }

    .skills .skills-content .left {
        width: 100%;
        font-size: 10px;
        margin-bottom: 5%;

    }
    
    .skills .skills-content .text1 {
        font-size: 23px;
    }

    .max-width-trab .content-trabalhos {
        max-width: 500px;
        padding: 0px;
    }


    .trabalhos .content-trabalhos {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .trabalhos .content-trabalhos img {
        width: 250px;
        height: 150px;

        
    }
    .trabalhos .content-trabalhos .links{
        margin: 15px;
        border: 4px solid rgb(43, 43, 43);
    }
    
    .contact {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact .contact-content .field form {
        width: 250px;
        padding: 20px 20px;
        margin: auto;

    }

    .max-width-trab .contact-content {
        max-width: 500px;
        padding: 0px;
        margin: 50px;
    }

    
}